# Problem Statement_1
We have data of product sales in the 'Dataset' sheet. Below are your tasks										
										
1	Draw a Pivot table to get the different types of outlets and their counts									
2	Draw a Pivot table to get the total sales for different outlets									
3	Draw a Pivot table to find out the total sales of different item types in different outlet types									
4	In the third Pivot table, filter out (remove) low fat products

In [1]:
from pandas import*
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [6]:
Sales = read_excel("Sales.xlsx")
Sales

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,Low Fat,Dairy,OUT049,1999,Tier 1,Supermarket Type1,3735.1380
1,DRC01,Regular,Soft Drinks,OUT018,2009,Tier 3,Supermarket Type2,443.4228
2,FDN15,Low Fat,Meat,OUT049,1999,Tier 1,Supermarket Type1,2097.2700
3,FDX07,Regular,Fruits and Vegetables,OUT010,1998,Tier 3,Grocery Store,732.3800
4,NCD19,Low Fat,Household,OUT013,1987,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...
3298,NCC54,Low Fat,Health and Hygiene,OUT045,2002,Tier 2,Supermarket Type1,4097.3332
3299,FDQ11,Regular,Breads,OUT035,2004,Tier 2,Supermarket Type1,5396.9748
3300,DRH03,low fat,Dairy,OUT018,2009,Tier 3,Supermarket Type2,1491.3920
3301,FDX38,Regular,Dairy,OUT010,1998,Tier 3,Grocery Store,47.9376
3302,DRH36,Low Fat,Soft Drinks,OUT045,2002,Tier 2,Supermarket Type1,894.8352

# 1. Draw a Pivot table to get the different types of outlets and their counts.

In [16]:
outlets_type = Sales['Outlet_Type'].value_counts()
outlets_type

Supermarket Type1    2209
Grocery Store         413
Supermarket Type3     351
Supermarket Type2     330
Name: Outlet_Type, dtype: int64

# 2. Draw a Pivot table to get the total sales for different outlets.

In [10]:
total_sales = pd.pivot_table(data = Sales, index=['Outlet_Type'], values = ['Item_Outlet_Sales'], aggfunc ='sum')
total_sales

                   Item_Outlet_Sales
Outlet_Type
Grocery Store           1.376515e+05
Supermarket Type1       5.137733e+06
Supermarket Type2       6.512416e+05
Supermarket Type3       1.282399e+06

# 3.  Draw a Pivot table to find out the total sales of different item types in different outlet types.

In [17]:
item_types = pd.pivot_table(data = Sales, index=['Outlet_Type','Item_Type'], values = ['Item_Outlet_Sales'], aggfunc ='sum')
item_types

                                 Item_Outlet_Sales
Outlet_Type       Item_Type
Grocery Store     Baking Goods           9586.8542
                  Breads                 6860.4032
                  Breakfast              2651.2156
                  Canned                 9475.6656
                  Dairy                 13984.4632
...                                            ...
Supermarket Type3 Others                23577.3096
                  Seafood                9473.6682
                  Snack Foods          180744.7260
                  Soft Drinks           45322.3376
                  Starchy Foods         22775.6864

[63 rows x 1 columns]

# 4. In the third Pivot table, filter out (remove) low fat products.

In [18]:
condition = ['Regular']
#rows which have not contain low fat products
filter = Sales[Sales['Item_Fat_Content'].isin(condition)]
filter

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,Regular,Soft Drinks,OUT018,2009,Tier 3,Supermarket Type2,443.4228
3,FDX07,Regular,Fruits and Vegetables,OUT010,1998,Tier 3,Grocery Store,732.3800
5,FDP36,Regular,Baking Goods,OUT018,2009,Tier 3,Supermarket Type2,556.6088
6,FDO10,Regular,Snack Foods,OUT013,1987,Tier 3,Supermarket Type1,343.5528
8,FDH17,Regular,Frozen Foods,OUT045,2002,Tier 2,Supermarket Type1,1076.5986
...,...,...,...,...,...,...,...,...
3291,FDR19,Regular,Fruits and Vegetables,OUT017,2007,Tier 2,Supermarket Type1,2770.3938
3294,FDR28,Regular,Frozen Foods,OUT017,2007,Tier 2,Supermarket Type1,1794.3310
3297,FDZ43,Regular,Fruits and Vegetables,OUT018,2009,Tier 3,Supermarket Type2,1938.8096
3299,FDQ11,Regular,Breads,OUT035,2004,Tier 2,Supermarket Type1,5396.9748
3301,FDX38,Regular,Dairy,OUT010,1998,Tier 3,Grocery Store,47.9376

In [19]:
dataset = pd.pivot_table(data = filter, index=['Outlet_Type','Item_Type','Item_Fat_Content'], values = ['Item_Outlet_Sales'], aggfunc ='sum')
dataset

                                                          Item_Outlet_Sales
Outlet_Type       Item_Type             Item_Fat_Content
Grocery Store     Baking Goods          Regular                   4629.3074
                  Breads                Regular                   2310.9918
                  Breakfast             Regular                   1745.0618
                  Canned                Regular                   3745.7908
                  Dairy                 Regular                   4585.3646
                  Frozen Foods          Regular                   4897.6248
                  Fruits and Vegetables Regular                   9449.0336
                  Meat                  Regular                   6644.6840
                  Seafood               Regular                    529.3110
                  Snack Foods           Regular                   4556.0694
                  Soft Drinks           Regular                   3042.0402
                  Starchy Foods         Regular                     58.5904
Supermarket Type1 Baking Goods          Regular                 205029.7810
                  Breads                Regular                  63120.5032
                  Breakfast             Regular                  38610.4078
                  Canned                Regular                 200666.7936
                  Dairy                 Regular                 160771.3918
                  Frozen Foods          Regular                 267181.5452
                  Fruits and Vegetables Regular                 389981.6972
                  Meat                  Regular                 170747.0732
                  Seafood               Regular                  17111.7258
                  Snack Foods           Regular                 233813.6466
                  Soft Drinks           Regular                  37421.9548
                  Starchy Foods         Regular                  38605.0814
Supermarket Type2 Baking Goods          Regular                  23353.6008
                  Breads                Regular                   3211.1534
                  Canned                Regular                  30164.7348
                  Dairy                 Regular                  11582.9226
                  Frozen Foods          Regular                  30307.8818
                  Fruits and Vegetables Regular                  46461.5214
                  Meat                  Regular                  19332.1688
                  Seafood               Regular                   3745.1250
                  Snack Foods           Regular                  47456.8924
                  Soft Drinks           Regular                   2053.3272
                  Starchy Foods         Regular                   3605.3070
Supermarket Type3 Baking Goods          Regular                  55001.0722
                  Breads                Regular                  10395.1354
                  Breakfast             Regular                   9208.6798
                  Canned                Regular                  55901.2338
                  Dairy                 Regular                  48335.0826
                  Frozen Foods          Regular                  55055.6678
                  Fruits and Vegetables Regular                 130283.7440
                  Meat                  Regular                  35365.2986
                  Seafood               Regular                   3435.5280
                  Snack Foods           Regular                  75483.7434
                  Soft Drinks           Regular                   8919.0568
                  Starchy Foods         Regular                   1677.8160